<!-- @format -->
{% extends "gallery/base.html" %} {% load bootstrap5 %} {% block content %}
<!-- Button trigger modal -->

<main class="my-3">
	<div class="container my-3">
		<div class="text-center">
			<div class="card text-center">
				<div class="card-header text-center mx-auto"> Featured </div>
				<ul
					class="list-group list-group-flush d-flex flex-row flex-wrap justify-content-center"
				>
					{% for category in categories %}
					<option
						class="list-group-item btn btn-outline-info border shadow rounded-3"
						value="{{category.id}}"
						>{{category.name}}</option
					>

					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="text-center">
			<div class="card text-center">
				<div class="card-header text-center mx-auto"> Locations </div>
				<ul
					class="list-group list-group-flush d-flex flex-row flex-wrap justify-content-center"
				>
					{% for location in locations %}
					<option
						class="list-group-item btn btn-outline-info border shadow rounded-3"
						value="{{location}}"
						>{{location.location}}</option
					>

					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container-fluid album py-5 bg-light">
			<div class="container-fluid">
				<div
					class="container-fluid d-flex flex-wrap flex-sm-wrap justify-content-around mx-auto"
				>
					{%for photo in photos%}
					<div
						class="container-fluid m-2 flex-fill border rounded-3 col-sm-12 col-md-5  shadow-lg p-3 mb-5 bg-body"
					>
						<div class="container mx-auto my-auto text-center py-2">
							<button class="btn btn-outline-primary btn-block mx-auto"
								>{{ photo.category.name }}</button
							>
							<button class="btn btn-outline-success btn-block mx-auto"
								>{{ photo.location }}</button
							>
						</div>
						<!-- Button trigger modal -->
						<img

							data-bs-toggle="modal"
							class="img-fluid img-thumbnail px-sm-1 mx-auto my-auto "
							type="button"
							data-bs-target="#staticBackdrop"
							src="{{photo.image.url}}"
							alt="{{photo.description}}"
							width="100%"
							height="auto"
						/>

						<!-- Modal -->
						<div
							class="modal fade"
							id="staticBackdrop"
							data-bs-backdrop="static"
							data-bs-keyboard="false"
							tabindex="-1"
							aria-labelledby="staticBackdropLabel"
							aria-hidden="true"
							style=" "
						>
							<div class="modal-dialog modal-xl col-10">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title h6" id="staticBackdropLabel"
											>{{ photo.description}}</h5
										>
										<span class="container mx-auto text-center py-2">
							<button class="btn btn-outline-primary btn-block mx-auto"
								>{{ photo.category.name }}</button
							>
							<button class="btn btn-outline-success btn-block mx-auto"
								>{{ photo.location }}</button
							>
						</span>
										<button
											type="button"
											class="btn-close"
											data-bs-dismiss="modal"
											aria-label="Close"
										></button>
									</div>
									<div class="modal-body">
										<img
											class="m-2 rounded-3 col-12 img-fluid px-sm-2 mx-auto"
											src="{{photo.image.url}}"
											alt="Trolltunga, Norway"
											width="auto"
											height="auto"
										/>
									</div>
									<div class="modal-footer">
										<span class="container">
											<span>
												<button class="btn btn-secondary">copy</button>
											</span>
											<span id="photo_url" class="text-center">
												http://127.0.0.1:8000/{{photo.image.url}}
											</span>
										</span>

										<button
											type="button"
											class="btn btn-warning"
											data-bs-dismiss="modal"
											>Close</button
										>
									</div>
								</div>
							</div>
						</div>
					</div>

					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock content %}
