<!-- @format -->
{% extends "gallery/base.html" %} {% load bootstrap5 %} {% block content %}
<!-- Button trigger modal -->

<main>
	<div class="album py-5 bg-light">
		<div class="container-fluid">
			<div class="d-flex flex-wrap">
				{%for photo in photos%}
				<img
					class=""
					data-bs-toggle="modal"
					data-bs-target="#staticBackdrop"
					src="{{photo}}"
					alt="Trolltunga, Norway"
					width="500"
					height="300"
				/>

				<!-- Modal -->
				<div
					class="modal fade"
					id="staticBackdrop"
					data-bs-backdrop="static"
					data-bs-keyboard="false"
					tabindex="-1"
					aria-labelledby="staticBackdropLabel"
					aria-hidden="true"
				>
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="staticBackdropLabel"
									>Modal title</h5
								>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="modal"
									aria-label="Close"
								></button>
							</div>
							<div class="modal-body">
								<img
									src="{{photo}}"
									class="img-fluid"
									alt="Trolltunga, Norway"
									width="600"
									height="400"
								/>
							</div>
							<div class="modal-footer">
								<button
									type="button"
									class="btn btn-secondary"
									data-bs-dismiss="modal"
									>Close</button
								>
								<button type="button" class="btn btn-primary"
									>Understood</button
								>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</main>
{% endblock content %}
